<!DOCTYPE html>
<html lang="en">
<head>
<style>
.pd{width:5em;text-align:center}
.parent div{display:flex}
@media screen and (max-width: 600px){
.pd{display:none;}
.parent div{padding-bottom:1em;}}

img{max-width:100%;height:auto;}
pre{max-width:100%;height:auto;white-space:pre-wrap}
.navi-parent{display:flex;flex-direction:row;justify-content:space-between;padding-bottom:.5em;font-style:italic;}
</style>

<link rel="icon" href="data:;base64,iVBORw0KGgo=">

<meta charset="utf-8">
<title>{{ .Title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ .Site.Params.siteDescription | markdownify }}">
<link href="{{ .Site.BaseURL }}/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
<meta name="google-site-verification" content="" />
</head>
<body>
<div class="parent">
{{ .Site.Params.header | markdownify }}
<br>
<a href="{{ .Site.BaseURL }}/index.xml">RSS</a> <a href="{{ .Site.BaseURL }}/sitemap.xml">Sitemap</a> <a href="{{ .Site.BaseURL }}/tags">Tags</a>
<br>
{{ range (where .Site.RegularPages "Type" "posts")}}
<div><div class="pd">{{ .Date.Format "Jan 2006" }}</div><a href="{{ .Permalink }}">{{ .Title }}</a></div>
{{ end }}
</div>
<br>
{{ partial "footer.html" . }}
